<nav class="navbar navbar-expand-lg navbar-dark bg-black px-5">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" routerLink="/">
          <img style="background-size: cover;" src="https://assets.stickpng.com/images/5847ea22cef1014c0b5e4833.png" alt="logo" width="50" height="50" class="d-inline-block">
        </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse fw-bold text-center" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-item nav-link active" routerLink="/"><i class="fa-solid fa-house"></i> Home</a>
          </li>
        </ul>
      </div>

    </div>
  </nav>