<app-menu></app-menu>

<br/>
    <div class="container">
        <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6 center card shadow p-3 bg-body rounded">
            <br><h2 class="title p-3 text-white text-center fw-bold bg-dark">PRODUCT DETAILS</h2><br>

            <div class="card-body">
                <ul class="list-group list-group-flush mb-4">
                    <li class="list-group-item"><b>ID:</b> </li>
                    <li class="list-group-item"><b>Name:</b> </li>
                    <li class="list-group-item"><b>Price:</b> </li>
                </ul>
                
                <div class="mb-1 mt-2">
                    <a routerLink="/" class="btn btn-dark form-control">Back</a>
                </div>
            </div>
        </div>

        <div class="col-md-3"></div>
        </div>
    </div>